h1 Listing all comments
= link_to "Sort by date desc", comments_path(params.merge(comment: (params[:comment] || {}).merge(kind: 'desc')))
br
= link_to "Sort by date asc", comments_path(params.merge(comment: (params[:comment] || {}).merge(kind: 'asc')))
br
= link_to "Sort by likes desc", comments_path(params.merge(comment: (params[:comment] || {}).merge(kind: 'likes_desc')))
br
= link_to "Sort by likes asc", comments_path(params.merge(comment: (params[:comment] || {}).merge(kind: 'likes_asc')))
br
= form_tag({}, method: 'get')
  - unless params[:comment].blank?
    - params[:comment].each do |field, value|
      = hidden_field_tag "comment[#{field}]", value
  = date_select "comment", "start_date"
  = date_select "comment", "end_date"
  = submit_tag 'Filter'

table
  - @comments.order(created_at: :desc).each do |comment|
    tr
      td
         = link_to "#{Article.find(comment.article_id).title}", article_path(Article.find(comment.article_id))
    tr
      td
        = comment.created_at
    tr
      td
        = link_to "#{User.find(comment.user_id).name}", user_path(User.find(comment.user_id))
      td
        img src = User.find(comment.user_id).avatar
    tr
      td = comment.body
    tr
      td Likes:
      td = comment.likes.count
    tr
      td = link_to 'Like!', likes_path(subject_id: comment.id, subject_type: 'Comment'), method: 'post'
      td = link_to 'Write a comment', '#'

= will_paginate @comments