h1 Write your comment
= form_for :comment, url: comments_path do |f|
  - unless params[:article_id].blank? && params[comment_id].blank?
    = hidden_field_tag "article_id", params[:article_id]
    = hidden_field_tag "comment_id", params[:comment_id]
  div.field
    = f.label :comment
    br
    = f.text_area :body
  div.action
    = f.submit