- comment, children = comment

div.comment

  p id
  p style="color:red" = comment.id
  p = link_to "#{comment.article.title}", article_path(comment.article)
  p = comment.created_at
  p = link_to "#{comment.user.name}", user_path(comment.user)
  img src = comment.user.avatar
  p = comment.body
  p Parent id:  #{comment.comment_id}
  / p = comment.comment_id
  p
    = link_to "Write comment", new_comment_path(comment_id: comment.id, article_id: comment.article)
  p Likes:
  div class="comment_like_counter"
    p = comment.likes.size
  p = link_to 'Like!', likes_path(subject_id: comment.id, subject_type: 'Comment'), method: 'post', remote: true
  div style="padding-left: 60px"
    = render partial: "comment", collection: children