h1 Listing all articles
= link_to "Write new article", new_article_path
br
= link_to "Sort by date desc", articles_path(article: (params[:article] || {}).merge(kind: 'desc'))
br
= link_to "Sort by date asc", articles_path(article: (params[:article] || {}).merge(kind: 'asc'))
br
= link_to "Sort by likes desc", articles_path(article: (params[:article] || {}).merge(kind: 'likes_desc'))
br
= link_to "Sort by likes asc", articles_path(article: (params[:article] || {}).merge(kind: 'likes_asc'))
p Tags:
-@tags.each do |tag|
  =link_to "#{tag.name} |", articles_path(article: (params[:article] || {}).merge(tag_id: tag.id))


br
= form_tag({}, method: 'get')
  - unless params[:article].blank?
    - params[:article].each do |field, value|
      = hidden_field_tag "article[#{field}]", value
  = date_select "article", "start_date"
  = date_select "article", "end_date"
  = submit_tag 'Filter'

table

  - @articles.each do |article|
    tr
      td
        = article.id
    - a = Article.where("articles.id = #{article.id}").select("COUNT(DISTINCT comments.id) as total_comments, COUNT(DISTINCT likes.id) as total_likes, tags.id").joins("LEFT OUTER JOIN comments ON comments.article_id = articles.id").joins(:tags).group("articles.id, tags.id").select('articles.id').joins("LEFT OUTER JOIN likes ON likes.subject_id = articles.id AND likes.subject_type = 'Article'").first


    tr
      td
        h2 = article.title
    tr
      td
        = article.created_at
    tr
      td

        = link_to article.user.name, user_path(article.user)

    tr
      td
        -if current_user?(article.user)
          = link_to "Delete article", article_path(article), method: 'delete'


    tr
      td Comments:
      td = a.total_comments
      td Likes:
      td = a.total_likes
    tr
      td Tags:
      td
        -unless a.tags.empty?
          - a.tags.each do |tag|
            = link_to "#{tag.name} |", articles_path(article: (params[:article] || {}).merge(tag_id: tag.id))
    tr
      td
        img src = article.picture
    tr
      td = article.short_body + "..."


    tr
      td = link_to 'Read', article_path(article)

= will_paginate @articles
