h1 New article
= form_for :article, url: articles_path do |f|

  div.field
    = f.label :title
    br
    = f.text_field :title
  div.field
    = f.label :text
    br
    = f.text_area :body
  div.field
    = f.label :tags_string
    br
    = f.text_area :tags_string, placeholder: "Tags separated with coma", class: 'tags-input'
  div.field
    = f.file_field :picture
  div.actions
    = f.submit

p New tags to add:
a.new-tags href='#'