table
  tr
    td
      = link_to 'Back', articles_path
  tr
    td
      h1 = @article.title
  tr
    td
      = link_to "#{@article.user.name}", user_path(@article.user)
  tr
    td
      = @article.created_at
  tr
    td
      img src = @article.picture

  tr
    td = @article.body
  tr
    td
      div id="like" = link_to 'Like!', likes_path(subject_id: @article.id, subject_type: 'Article'), method: 'post', remote: true
    td = link_to 'Write a comment', new_comment_path(article_id: @article.id)
  tr
    td Likes:
    td
      div class="article_like_counter" = @article.likes.size
  tr
    td Comments:
    td = @article.comments.size

- unless @comments.empty?
  = render partial: "comment", collection: @comments