.header-bar
  table.htable
    tbody
      tr
        td.col1

          .set
            a.sethomeicon href="#"
            span.sethometext
              | Сделать Яндекс &nbsp
              a.link href="#" стартовой страницей

        td.col2

          .user
            .promo
            .settings
              a.settingslink href="#"
                i.settingsicon

            .usermenu.link
              a.link href='#'
                span.useravatar
                span.username
                  span.firstletter u
                  |sername

.main
  .head-block
    table.wtable
      tbody
        tr
          td.col1

            .news-block
              .head
                .names
                  a.link1 href="#" Новости
                  a.link2 href="#" в Москве
                .date
                  |15 сентября, вторник 17 49

              .content
                ul.newslist
                  - 5.times
                    li.item
                      span.num
                        | 1.
                      a.newsitem href="#"
                       | Депутаты ЛДПР намерены вернуться
                       span.higlitedlink
                        |  в зал заседаний Госдумы

              .stockrates
                span Биржевые курсы:
                - 3.times
                  .stockrate
                    a.link.currencylink href="#" USD
                    span.percentspan
                      |-0,66
                    span 66,83

          td.col2

            .promo-box
              img src="http://yabs.yandex.ru/count/9ri_ivC7mc840002gP0088wv7uDV1L6L0fi6QLg8lKGY1mUcX0cAjbna3WEg0gMcP_C5aRpGIMG6auKDGQxo43mnb6ZA7mMn0RA0WBlpymsr04G65GN1__________yFnOyFqm9v2m00" width="148" height="90" alt="Элементы Яндекса "
              a.link href="#" Новые фоны для вашего браузера
              span.text
              | с Элементами Яндекса

  .search-block

    .logo

    .searchbox
      .header
        .tab
          a.link href='#' Поиск
        .tab
          a.link href='#' Карты
        .tab
          a.link href='#' Маркет
        .tab
          a.link href='#' Новости
        .tab
          a.link href='#' Переводчик
        .tab
          a.link href='#' Картинки
        .tab
          a.link href='#' Видео
        .tab
          a.link href='#' Недвижимость
        .tab
          a.link href='#' Музыка
        .tab
          a.link href='#' ещё


      .search
        form.searchform
          table.searchtable
            tbody
              tr
                td.col1
                  .input
                    span.span1
                      span.span2
                        input.searchinput
                      span.span3
                        i.icon

                td.col2
                  .button
                    button.searchbutton
                      span.searchspan
                        | Найти

      .footer
        .hint
          .text
            | Найдётся всё. Например, &nbsp
            a.link href="#" как мариновать стрелки чеснока

        .promo
          .logo
            img.img src="http://yabs.yandex.ru/resource/CuIsr6zAhrqK3bLdAytNR6_banana_20141031_icon-retina.png"
          a.link href="#" Нужен быстрый Браузер?

  / .adv-banner

  .widgets-container
    table.wtable
      tbody
        tr
          td.col1
            .widget.-map
              .head
                a.link href="#" Карта Москвы

              .icons
                a.iconlink href="#"
                  span.iconspan
                    i.icon.metro

                a.iconlink href="#"
                  span.iconspan
                    i.icon.taxi

                a.iconlink href="#"
                  span.iconspan
                    i.icon.pan

                a.iconlink href="#"
                  span.iconspan
                    i.icon.routes

                a.iconlink href="#"
                  span.iconspan
                    i.icon.board

          td.col2
            .widget.-weather
              .head
                a.link href="#"
                  | Погода
                a.iconlink href="#"
                  i.icon
                a.templink href="#"
                  | +16 °C

              .content
                a.link href="#"
                  | вечером +16,  ночью +14

          td.col3
            .widget.-traffic
              .head
                a.link href="#"
                  | Пробки
                a.iconlink href="#"
                  i.icon
                a.ratelink href="#"
                  | 3 балла

              .hint
                a.link
                 | Местами затруднения

              .prediction
                .text
                  | Прогноз
                span.iconspan
                  .rate.green
                    | 3
                  span.time
                    | 14 ч
                span.iconspan
                  .rate.green
                    | 3
                  span.time
                    | 15
                span.iconspan
                  .rate.yellow
                    | 4
                  span.time
                    | 16
                span.iconspan
                  .rate.yellow
                    | 4
                  span.time
                    | 17
                span.iconspan
                  .rate.yellow
                    | 5
                  span.time
                    | 18
        tr
          td.col1
            .widget.-links
              .item
               a.service href="#"
                | Маркет
                span.icon.market
                span.text
                  | &nbsp—&nbsp
                a.description href="#"
                  |  чемоданы со скидкой

              .item
               a.service href="#"
                | Авто
                span.icon.auto
                span.text
                  | &nbsp—&nbsp
                a.description href="#"
                  |  дизели до 150 тыс.

              .item
               a.service href="#"
                | Недвижимость
                span.icon.building
                span.text
                  | &nbsp—&nbsp
                a.description href="#"
                  |  покупка квартир

              .item
               a.service href="#"
                | Такси
                span.icon.taxi
                span.text
                  | &nbsp—&nbsp
                a.description href="#"
                  |  доступные тарифы

              .item
               a.service href="#"
                | Работа
                span.icon.work
                span.text
                  | &nbsp—&nbsp
                a.description href="#"
                  | возраст до 50 лет

              .item
               a.service href="#"
                | Картинки
                span.icon.pictures
                span.text
                  | &nbsp—&nbsp
                a.description href="#"
                  |  весенние пейзажи

          td.col2

            .widget.-tv
              .head
                a.link href="#"
                  | Телепрограмма

              .content
                ul.list
                  li.item
                    table.table
                      tbody
                        tr
                          td
                            span.time
                              | 15:00
                          td
                            a.link href='#'
                              | Лолита
                            span.chanel
                              | НТВ

                    li.item
                      table.table
                        tbody
                          tr
                            td
                              span.time
                                | 15:00
                            td
                              a.link href='#'
                                | Реальные пацаны
                              span.chanel
                                | ТНТ

                    li.item
                      table.table
                        tbody
                          tr
                            td
                              span.time
                                | 15:00
                            td
                              a.link href='#'
                                | Склифосовский
                              span.chanel
                                | Россия 1

                  li.item
                    a.promo href="#"
                      | Премьеры и хиты телесезона
                      i.icon

          td.col3

            .widget.-afisha

              .head
                a.link href="#"
                  | Афиша

              .content
                .premiere
                  a.link href="#"
                    | Кутис
                  .description
                    | премьера завтра

                ul.list
                  li.item
                    a.link href="#"
                      | Перевозчик: Наследие
                    span.text
                      | &nbspдетектив
                  li.item
                    a.link href="#"
                      | Бегущий в лабиринте:…
                    span.text
                      | &nbspпремьера
                  li.item
                    a.link href="#"
                      | Орлеан
                    span.text
                      | &nbspпремьера
                  li.item
                    a.link href="#"
                      | Пиковая дама: Чёрный…
                    span.text
                      | &nbspужасы
                  li.item
                    a.link href="#"
                      | Хитмэн: Агент 47
                    span.text
                      | &nbspприключения

  .push

.footer-bar
  table.table
    tbody
      tr
        td.col1
          .author
            .text
              | Дизайн —
            a.link href="#"
              | Студия Артемия Лебедева

        td.col2
          .direct
            .title
              a.link href="#"
                | Директ
              |&nbsp—&nbsp
              a.description href="#"
                | разместить рекламу
            .links
              a.link.-divlink href="#"
                | Справочник
              a.link.-divlink href="#"
                | Метрика
              a.link.-divlink href="#"
                | Реклама

        td.col3
          .company
            .iconcontainer
              a.iconlink href="#"
                i.icon.helpicon
            .iconcontainer
              a.iconlink href="#"
                i.icon.mailicon
            .linkcontainer
              a.link href="#"
                | Вакансии
            .linkcontainer
              a.link href="#"
                | Блог
            .linkcontainer
              a.link href="#"
                | О компании
            .linkcontainer
              a.link href="#"
                | About
            .c
              | © Яндекс
