<span tooltip="max legth is {{maxlength}}" tooltip-display-on-mouseenter="false"
 tooltip-force-display="forceDisplay">
    <input elastic-input focused="focused" placeholder="Type some text"
    ng-model="value">
</span>
<progressbar progress="progress"></progressbar>
