<% if @like.subject_type = 'Article'%>
  $(".article_like_counter").html(<%= @like.subject.likes.count %>);
<% else %>
  $(".comment_like_counter").html(<%= @like.subject.likes.count %>);
<% end %>

// $(".comment_like_counter").html(<%= @like.subject.likes.count %>);
