h1 Listing all likes

table
  - @likes.order(created_at: :desc).each do |like|
    tr
      td
         = like.created_at
    tr
      td
        = link_to "#{User.find(like.user_id).name}", user_path(User.find(like.user_id))
    - if like.subject_type == 'Article'
        tr
          td Article title:
          td
            = link_to "#{Article.find(like.subject_id).title}", article_path(Article.find(like.subject_id))
    - else
        tr
          td Comment id:
          td
            = link_to "#{Comment.find(like.subject_id).id}", comment_path(Comment.find(like.subject_id))

= will_paginate @likes