h1 Edit your profile

= form_for @user do |f|
	div.field
		=f.label :name
		br
		=f.text_field :name
	div.field
		=f.label :email
		br
		=f.email_field :email
	div.field
		=f.file_field :avatar
	div.actions
		= f.submit