h1 Listing all users

table
	- @users.each do |user|
		tr
			td.name = user.name
			td.link = link_to 'Show', user_path(user)
			td.link = link_to 'Sign in', sessions_path(id: user.id), method: 'post'
= will_paginate @users