h1 User profile

p Name:
= @user.name
p Email:
= @user.email
br
img src = @user.avatar

table
  tr
    td Articles:
    td = link_to @user.articles.size, articles_path(params.merge(article: {user_id: @user.id}))
  tr
    td Comments:
    td = link_to @user.comments.size, comments_path(params.merge(comment: {user_id: @user.id}))
  tr
    td Likes:
    td = link_to @user.likes.size, likes_path(params.merge(user_id: @user.id))
= link_to 'Edit', edit_user_path(@user)
br
= link_to 'Back', users_path
