.footer-bar {

  width: 100%;
  padding: 0;
  max-width: 100%;
  min-width: 75em;
  min-height: 2.6em;

   .link {
    color: #0d44a0;
    text-decoration: none;
    &:hover {
      color: red;
    }
  }

  > .table {
    border-collapse: collapse;
    margin: 0 auto;
    border: 0;
    border-collapse: collapse;
    width: 100%;
    min-width: 65em;
    max-width: 1500px;
    font-size: 100%;
    white-space: normal;
  }

  > .table  .col1 {
    white-space: normal;
    text-align: left;
    padding-left: 10px;
    min-height: 33px;
    vertical-align: top;
  }

  .author {
    > .text {
      display: inline-block;
    }
  }

  .direct {

    > .title {
      display: inline-block;
    }

    > .title > .description {
      color: #000;
      text-decoration: none;
    }

    > .links {
      display: inline-block;
    }

    >.links > .link {
      &.-divlink {
        padding-left: 10px;
      }
    }
  }

  .company {

    > .iconcontainer {
      padding-left: 10px;
      display: inline-block;
    }

    > .iconcontainer > .iconlink > .icon {
      width: 18px;
      height: 18px;
      margin-top: -1px;
      margin-bottom: -5px;
      display: inline-block;
      border: 0;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    > .iconcontainer > .iconlink > .helpicon {
      background-image: url(asset-path("help.svg"));
    }

    > .iconcontainer > .iconlink > .mailicon {
      background-image: url(asset-path("mail.svg"));
    }

    > .linkcontainer {
      display: inline-block;
      padding-left: 10px;
      margin-right: -4px;
    }

    > .c {
      padding-left: 10px;
      display: inline-block;
    }
  }

  > .table .col2 {
    padding-left: 6px;
    text-align: center;
    min-height: 33px;
    vertical-align: top;
  }

  >.table .col3 {
    min-height: 33px;
    vertical-align: top;
    text-align: right;
    padding-right: 10px;
  }
}
