.header-bar {

  font: .8em Arial,Helvetica,sans-serif;
  max-width: 1500px;
  min-width: 820px!important;
  padding: 2px 0 1px;
  padding-left: 10px;
  margin-bottom: 4px;
  margin: auto;

  .link {
    
    color: #0D44A0;
    text-decoration: none;
    line-height: 38px;

    &:hover {
      color: red;
    }
  }

  .htable {

    width: 100%;

    .col2 {
      text-align: right;
    }
  }

  .set {

    font: .8em Arial,Helvetica,sans-serif;

    > .sethomeicon {
      background-image: url(asset-path("sethome.svg"));
      cursor: pointer;
      margin-top: -6px;
      width: 32px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: center top;
      display: inline-block;
      vertical-align: top;
    }

    > .sethometext {
      margin-left: 8px;
    }
  }

  .user {

    >.usermenu {
      display: inline-block;
      margin: 0 10;
      &:hover{
          color:red;
      }
    }

    > .usermenu > .link > .username {
      position: relative;
      margin-left: 10px;
      font: 15px/80% Arial,Helvetica,sans-serif;
      line-height: 42px;
      color: #000;
      &:hover{
          color:red;
      }
    }

    > .usermenu > .link > .username > .firstletter  {
      color: red;
    }

    > .usermenu > .link > .useravatar {
      display: inline-block;
      vertical-align: middle;
      height: 42px;
      background: #fff center no-repeat;
      background-image: image-url("avatar.png");
      width: 42px;
      border-radius: 50%;
      background-size: cover;
      box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
    }

    > .settings {
      display: inline-block;
      padding-top: .25em;
      position: relative;
      margin: 0 10px;
      height: 38px;
      line-height: 38px;
      z-index: 10;
    }

    > .settings > .settingslink {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      border: 0;
      border-radius: 3px;
      outline: 0;
    }

    > .settings > .settingslink > .settingsicon {
      background-image: url(asset-path("settings.svg"));
      font-style: normal;
      position: relative;
      display: inline-block;
      width: 38px;
      height: 38px;
      vertical-align: top;
      opacity: .25;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
