.head-block {
  font: .8em Arial,Helvetica,sans-serif;
  white-space: nowrap;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px 0 72px;
  min-width: 820px!important;

  >.wtable {
    padding-right: 75px;
    width: 100%;

    .col1 {
      width: 548px !important;
    }

    .col2 {
      vertical-align: bottom;
    }
  }
}
