.news-block {

  font: .8em Arial,Helvetica,sans-serif;
  margin: 0 10px 10px 0;
  padding: 5px 20px;
  white-space: normal;
  position: relative;

  > .head {
    margin-bottom: 10px;

    > .names {
      display: inline-block;
      margin: 0 14px 0 0;
      border-top: 3px solid #E1EAF6;
      border-top-color: rgba(11,77,157,.1);
    }

    > .names > .link1 {
      font-size: 1.38em;
      border-top: 3px solid #0D44A0;
      text-decoration: none;
      color: #0d44a0;
      padding-top: 2px;
      &:hover {
        color: red;
      }
    }

    > .names > .link2 {
      text-decoration: none;
      color: #0d44a0;
      margin-left: 12px;
      margin-top: -3px;
      line-height: 25px;
      font-size: 1.23em;
      &:hover {
        color: red;
      }
    }

    > .date {
      display: inline-block;
      color: #666;
    }
  }

  > .content {
    padding: 0;
    margin: 0 10px 10px 0;
    white-space: normal;
    position: relative;

    > .newslist {
      margin: 0;
      padding: 0;
      min-height: 99px;
      max-height: 999999px;
    }

    > .newslist > .item {
      position: relative;
      margin-bottom: 6px;
      padding: 0;
      list-style: none;
    }

    > .newslist > .item > .newsitem {
      text-decoration: none;
      color: #000000;
    }

    > .newslist > .item > .newsitem > .higlitedlink {
      color: #0d44a0;
      &:hover {
        color: red;
      }
    }

    > .newslist > .item > .num {
      position: absolute;
      top: 2px;
      left: -13px;
      font-size: .77em;
    }
  }

  > .stockrates {
    margin-top: 11px;
    margin-right: 10px;
    position: relative;

    > .stockrate {
      display: inline-block;
      margin-right: 15px;
      position: relative;
    }

    > .stockrate > .currencylink {
      text-decoration: none;
      color: #0d44a0;
      margin-right: 7px;
      &:hover {
        color: red;
      }
    }

    > .stockrate > .percentspan {
        margin: -2px 5px -2px 0;
        color: #999;
    }

    > .configurelink > .configureicon {
      background-image: url(asset-path("configure.svg"));
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: text-top;
    }
  }
}
