.promo-box {

  font: .8em Arial,Helvetica,sans-serif;
  margin: 0 10px 10px 0;
  padding: 5px 20px;
  white-space: normal;
  position: relative;
  z-index: 1;
  max-height: 999999px;

  > .img {
    display: block;
  }

  > .link {

    display: block;
    text-decoration: none;
    color:#0d44a0;
    font-size: 1.22em;
    font-weight: 400;
    margin: 0 0 -.05em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    
    &:hover {
      color: red;
    }
  }

  > .text  {
    margin-top: .3em;
  }
}
