.search-block {

  white-space: nowrap;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px 0 72px;
  min-width: 820px!important;
  padding-bottom: 35px;

  > .logo {
    background-image: url(asset-path("logo.png"));
    width: 178px;
    height: 86px;
    display: inline-block;
    position: relative;
  }

  .searchbox {

    display: inline-block;

    > .header {
      font-size: 100%;
      border-collapse: collapse;
      margin: 0 0 7px 4px;
      padding: 0;
      white-space: nowrap;
    }

    > .header > .tab {
      display: inline-block;
      margin-right: 15px;
      font-size: 1.22em;
      line-height: inherit;
      padding: 0;
      position: relative;
    }

    > .header > .tab > .link {
      text-decoration: none;
      color: #0d44a0;
      &:hover {
        color: red;
      }
    }

    > .search  .col1 {
      margin: 0;
      padding: 0;
    }

    > .search > .searchform > .searchtable {
      width: 100%
    }

    > .search  .span1 {
      background-color: #ffdb4c;
      padding: 3px 0 3px 3px;
      font-size: 16px;
      background-image: -webkit-linear-gradient(top right,#ffdb4c 0,#fc0 100%);
      box-sizing: border-box;
      line-height: 32px;
      position: relative;
      display: inline-block;
      width: 100%;
    }

    > .search  .span2 {
      margin-right: 38px;
      width: 100%;
      height: 35px;
      background-color: #fff;
      position: relative;
      display: block;
      line-height: 35px;
      font-size: 16px;
    }

    > .search  .span3 {
      width: 38;
      position: absolute;
      z-index: 5;
      top: 0;
      right: 0;
      bottom: 0;
      visibility: hidden;
      margin: 0;
      padding: 0;
      opacity: 0;
      background: url("//yastatic.net/www/_/K/4/e4uv8u9I9wb1fi17d8-3Jnr2A.svg") 50% 50% no-repeat;
    }

    > .search .icon {
      background-image: url(asset-path("keyboard.svg"));
      width: 27px;
      height: 100%;
      cursor: pointer;
      vertical-align: baseline;
      font: 0/0 a;
      border: 0;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      display: inline-block;
    }

    >.search .searchinput {
      font: 16px Arial,Helvetica,sans-serif;
      width: 100%;
      padding: .4em 0;
      height: 35px;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: start;
      border: 0;
      outline: 0;
      background: 0 0;
      padding-left: 10px;
    }

    > .search > .searchform > .searchtable {
      border-collapse: collapse;
    }

    > .search > .searchform > .searchtable  .col2{
      padding: 0;
      width: 71px;
    }

    >.search .searchbutton {
      padding: 0;
      border: 0;
      background: 0 0;
    }

    >.search .searchspan {
      width: 79px;
      margin: 0 10px 0 0;
      padding: 0 0 0 5px;
      font: 16px/32px arial,sans-serif;
      line-height: 41px;
      background-image: url(asset-path("search.svg"));
      display: inline-block;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        top: 0;
        right: -10px;
        width: 12px;
        height: 41px;
        background-image: inherit;
        background-repeat: no-repeat;
        background-position: -108px 0;
        border: none;
      }
    }

    > .footer {
      position: relative;
    }

    > .footer > .hint {
      display: inline-block;
    }

    > .footer > .hint > .text > .link {
      text-decoration: none;
      color: #669;
    }

    > .footer > .promo {
      display: inline-block;
      position: absolute;
      top: -4px;
      right: 13px;
    }

    > .footer > .promo > .logo {
      display: inline-block;
      position: absolute;
      top: -4px;
      left: -29px;
      margin: 0;
    }

    > .footer > .promo > .logo > .img{
      width: 24;
      height: 24;
    }

    > .footer > .promo > .link {
      text-decoration: none;
      color: #0d44a0;
      &:hover {
        color: red;
      }
    }
  }
}
