.widget {

  margin: 0 10px 10px 0;
  padding: 5px 20px;
  white-space: normal;
  position: relative;
  z-index: 1;
  max-height: 999999px;
  font: .8em Arial,Helvetica,sans-serif;

  > .head {
    font-size: 141%;
    font-family: Arial,sans-serif;
    font-style: normal;
    margin: 6px 0 5px;
    min-height: 25px;
  }

   > .head > .link {
    color: #0d44a0;
    text-decoration: none;
    &:hover {
      color: red;
    }
  }

  > .content > .link {
    color: #0d44a0;
    text-decoration: none;
    &:hover {
      color: red;
    }
  }

  &.-map {

    > .icons {
      display: inline-block;
      background: url(asset-path("map.webp")) no-repeat 50% 0;
      padding: 10px 5px 10px 13px;
      min-width: 180px;
      margin-left: -14px;
      margin-bottom: 4px;
      white-space: nowrap;
    }

    > .icons > .iconlink {
      position: relative;
      width: 35px;
      margin-right: 10px;
      font-size: 11px;
      font-family: arial;
      text-align: center;
      text-decoration: none;
    }

    > .icons > .iconlink > .iconspan {
      display: inline-block;
      position: relative;
      width: 37px;
      height: 37px;
      border-radius: 20px;
      box-shadow: 0 2px rgba(92,131,190,.16);
      background-color: #FFF;
    }

    > .icons > .iconlink > .iconspan > .icon {
      position: absolute;
      left: 2px;
      top: 1px;
      width: 33px;
      height: 33px;
      background-repeat: no-repeat;
      background-position: 0 0!important;
      cursor: pointer;
    }

    > .icons > .iconlink > .iconspan > .metro {
      background-image: url(asset-path("metro.svg"));
    }

    > .icons > .iconlink > .iconspan > .taxi {
      background-image: url(asset-path("taxi.svg"));
    }

    > .icons > .iconlink > .iconspan > .pan {
      background-image: url(asset-path("pan.svg"));
    }

    > .icons > .iconlink > .iconspan > .routes {
      background-image: url(asset-path("routes.svg"));
    }

    > .icons > .iconlink > .iconspan > .board {
      background-image: url(asset-path("board.svg"));
    }
  }

  &.-weather {

    > .head > .iconlink {
      margin: 0 6px;
    }

    > .head > .iconlink > .icon {
      background-image: url(asset-path("weather.svg"));
      display: inline-block;
      vertical-align: top;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border: 0;
      margin-top: -5px;
    }

    > .head > .templink {
      color: #000;
      text-decoration: none;
    }
  }


  &.-tv {

    > .head {
      font-size: 141%;
      font-family: Arial,sans-serif;
      font-style: normal;
      margin: 6px 0 5px;
      min-height: 25px;
    }

    > .content > .list {
      margin: 0;
      padding: 0;
    }

    > .content > .list > .item {
      list-style: none;
      margin-top: 0;
      padding: 0;
      margin-bottom: 6px;
      line-height: 1.25em;
    }

    > .content > .list > .item  >.table {
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      border: none;
    }

    > .content  > .list > .item  >.table .time {
      position: relative;
      font: .8em Arial,Helvetica,sans-serif;
      margin-right: 5px;
      z-index: 2;
    }

    > .content  > .list > .item  >.table .link {
      position: relative;
      font: .8em Arial,Helvetica,sans-serif;
      margin-right: 5px;
      z-index: 2;
      color: #0d44a0;
      text-decoration: none;
      &:hover {
        color: red;
      }
    }

    > .content  > .list > .item  >.table .chanel {
      position: relative;
      font: .8em Arial,Helvetica,sans-serif;
      margin-right: 5px;
      z-index: 2;
    }

    > .content > .list > .item > .promo {
      text-decoration: none;
      color: #0d44a0;
      position: relative;
      margin-left: 37px;
      &:hover {
        color: red;
      }
    }

    > .content > .list > .item > .promo > .icon{
      background-image: url(asset-path("couch.svg"));
      position: absolute;
      width: 24px;
      height: 18px;
      left: -34px;
      top: -1px;
    }
  }

  &.-traffic {

    > .head > .iconlink {
      margin: 0 6px;
    }

    > .head > .iconlink > .icon {
      background-image: url(asset-path("traffic.svg"));
      display: inline-block;
      vertical-align: top;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border: 0;
      margin-top: -5px;
    }

    > .head > .ratelink {
      color: #000;
      text-decoration: none;
    }

    > .prediction {
      margin: 5px -5px 20px 0;
      padding-top: 5px;
    }


    > .prediction > .text {
      display: inline-block;
    }

    > .prediction > .iconspan {
      display: inline-block;
      position: relative;
      vertical-align: top;
      text-align: center;
      margin-top: -2px;
      padding: 0 5px;
    }

    > .prediction > .iconspan > .rate {
      border: 1px solid #40d12f;
      border-radius: 50%;
      height: 18px;
      width: 18px;
      text-align: center;
      font: 11px/18.5px Arial,Helvetica,sans-serif;
    }

    > .prediction > .iconspan > .green {
    }

    > .prediction > .iconspan > .yellow {
      border-color: #f8c921;
    }

    > .prediction > .iconspan > .time {
      position: absolute;
      top: 115%;
      left: -5%;
      width: 110%;
      color: gray;
      font-size: 70%;
    }
  }

  &.-links {

    > .item {
      margin-bottom: 6px;
      line-height: 1.25em;
    }

    > .item > .service {
      color: #0d44a0;
      text-decoration: none;
      position: relative;
      &:hover {
        color: red;
      }
    }

    > .item > .service > .icon {
      display: block;
      position: absolute;
      top: -2px;
      left: -21px;
      width: 18px;
      height: 18px;
    }

    > .item > .service > .market {
      background-image: url(asset-path("market.svg"));
    }

    > .item > .service > .auto {
      background-image: url(asset-path("auto.svg"));
    }

    > .item > .service > .building {
      background-image: url(asset-path("building.svg"));
    }

    > .item > .service > .taxi {
      background-image: url(asset-path("taxi-2.svg"));
    }

    > .item > .service > .work {
      background-image: url(asset-path("work.svg"));
    }

    > .item > .service > .pictures {
      background-image: url(asset-path("pictures.svg"));
    }

    > .item > .text {

    }

    > .item > .description {
      text-decoration: none;
      color:  #000;
    }
  }

  &.-afisha {

    > .content > .premiere {
      margin-bottom: 6px;
    }

    > .content > .premiere > .link {
      color: #0d44a0;
      text-decoration: none;
      &:hover {
        color: red;
      }
    }

    > .content > .premiere > .description {
      font: 85% Arial,Helvetica,sans-serif;
    }

    > .content > .list {
      margin: 0;
      padding: 0;
    }

    > .content > .list > .item {
      list-style: none;
      margin-top: 0;
      padding: 0;
      margin-bottom: 6px;
      line-height: 1.25em;
    }

    > .content > .list > .item > .link {
      color: #0d44a0;
      text-decoration: none;
      &:hover {
        color: red;
      }
    }
  }
}
