.widgets-container {
  white-space: nowrap;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px 0 72px;
  min-width: 820px!important;
  font: .8em Arial,Helvetica,sans-serif;

  > .wtable {
    width: 100%;
    border-spacing: 0;

    .col1, .col2, .col3 {
      vertical-align: top;
    }
  }
}
