// Place all the styles related to the angular controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span, div, input, pre {
  position: relative;
}

.tooltip {
  position: absolute;
  top: -18px;
  width: 100px;
  background-color: #e6e6e6;
}

.wrapper {
  width: 500px;
  height: 30px;
  border: 2px solid black;
}

.wrapper .progress {
  height: 30px;
  background-color: #e6e6e6;
}
