// Place all the styles related to the ya_copy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font: .8em Arial,Helvetica,sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 2em;
}
.footer-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2em;
    width: 100%;
}
