<!DOCTYPE html>
<html>
<head>
  <title>PashaLearn</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Articles", articles_path %>
<%= link_to "Users", users_path %>
<% if current_user %>
	Current user: <%= link_to "#{current_user.name}", user_path(current_user) %>
	<%= link_to "Log out", session_path(current_user.id), method: 'delete' %>
<% end %>
<%= yield %>

</body>
</html>
